@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
  width: 100%;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  position: absolute;
  z-index: 100;
  width: 100%;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 67px;
}
.header__logo {
  z-index: 3;
}
.header__menuicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__burger {
  display: none;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__list li {
  margin-left: 58px;
}
.header__link {
  text-transform: uppercase;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  left: 0;
  top: 0;
  padding-bottom: 12px;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.header__link:hover {
  color: #fce38a;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.header__icons {
  margin-left: 53px;
}
.header__search {
  margin-left: 42px;
}

:hover.header__link:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #fce38a;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 3;
}

.background {
  position: relative;
  background: url("../img/bg.jpg") no-repeat;
  min-height: 100vh;
  background-size: cover;
  background-position: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 150px 0 0 0;
}
.background__content {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.background__subtitle {
  color: #fff;
  font-family: "Kaushan Script", cursive;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 10px;
}
.background__title {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  position: relative;
  padding-bottom: 50px;
}
.background__title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  width: 60px;
  height: 3px;
  background-color: #fff;
}
.background__btn {
  margin-top: 50px;
  display: inline-block;
  line-height: 40px;
  border: 4px solid #fff;
  padding: 0 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration: none;
}
@media (max-width: 816px) {
  .header__burger {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active:after {
    content: "";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 9px;
    background-color: #fff;
  }
  .header__burger.active:before {
    content: "";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    background-color: #fff;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .header__menuicons {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e98d84;
    z-index: 2;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__menuicons.active {
    top: 0;
    padding-top: 150px;
    display: block;
    text-align: center;
  }
  .header__list {
    display: block;
    text-align: center;
  }
  .header__list li {
    margin-top: 10px;
  }
  .header__link {
    font-size: 40px;
  }
  .header__icons {
    margin-top: 25px;
  }
  .header__cart img {
    width: 30px;
    height: 30px;
  }
  .header__search img {
    width: 30px;
    height: 30px;
  }
  .background__subtitle {
    font-size: 40px;
  }
  .background__title {
    font-size: 70px;
  }
}
@media (max-width: 510px) {
  .background__title {
    font-size: 60px;
  }
}
@media (max-width: 400px) {
  .background__title {
    font-size: 50px;
  }
}
.slider {
  padding-top: 110px;
}
.slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
.slider__text {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  top: 0;
  left: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}
.slider__text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 279px;
  height: 3px;
  background-color: #fff;
}

:hover.slider__text:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 3px;
  background-color: #f38181;
}

.slider__text:after {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1148px) {
  .slider__text:before {
    width: 200px;
  }
}
@media (max-width: 840px) {
  .slider__text:before {
    width: 170px;
  }
}
@media (max-width: 722px) {
  .slider__text:before {
    width: 130px;
  }
}
@media (max-width: 554px) {
  .slider__text:before {
    width: 100px;
  }
}
@media (max-width: 400px) {
  .slider__text {
    font-size: 13px;
  }
  .slider__text:before {
    content: "";
    width: 80px;
  }
}
.story {
  padding-top: 90px;
}

.story-top__content {
  text-align: center;
}
.story-top__subtitle {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  margin-bottom: 10px;
}
.story-top__title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  position: relative;
  padding-bottom: 35px;
  margin-bottom: 37px;
}
.story-top__title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  width: 60px;
  height: 3px;
  background-color: #f38181;
}
.story-top__text {
  font-family: "Roboto", sans-serif;
  color: #999;
  font-size: 15px;
  line-height: 24px;
  max-width: 950px;
  margin: 0 auto;
}
.story-top__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px -10px 0px -10px;
}
.story-top__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 10px;
}
.item-top {
  position: relative;
  height: 100%;
  padding: 0 0 50% 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-top__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item-top__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-top__text {
  z-index: 5;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.item-top__icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item-top__icons:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(236, 208, 133);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(18%, rgb(236, 208, 133)), color-stop(42%, rgb(239, 174, 133)), color-stop(78%, rgb(232, 138, 126)));
  background: -o-linear-gradient(bottom, rgb(236, 208, 133) 18%, rgb(239, 174, 133) 42%, rgb(232, 138, 126) 78%);
  background: linear-gradient(0deg, rgb(236, 208, 133) 18%, rgb(239, 174, 133) 42%, rgb(232, 138, 126) 78%);
  opacity: 0;
  z-index: 2;
}
.item-top__icon {
  z-index: 5;
  display: none;
  position: absolute;
  top: 55px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

:hover.item-top__icons:after {
  opacity: 0.8;
}

:hover.item-top__icons .item-top__text {
  display: block;
}

:hover.item-top__icons .item-top__icon {
  display: block;
}

:hover.item-top {
  -webkit-box-shadow: 8px 8px 0px #95e1d3;
          box-shadow: 8px 8px 0px #95e1d3;
}

.story-bottom {
  margin-top: 110px;
  background-color: #95e1d3;
}
.story-bottom__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.story-bottom__column {
  padding: 90px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  border: 1px solid #b5eae0;
}
.story-bottom__item {
  text-align: center;
}

.item-bottom__number {
  color: #fff;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  margin-bottom: 3px;
}
.item-bottom__text {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .item-bottom__number {
    font-size: 50px;
  }
  .item-bottom__text {
    font-size: 14px;
  }
}
@media (max-width: 816px) {
  .story-bottom {
    margin-top: 60px;
  }
  .story-top__text {
    max-width: 628px;
    margin: 0 auto;
  }
  .story-top__columns {
    margin: 60px -10px 0 -10px;
  }
}
@media (max-width: 620px) {
  .item-bottom__number {
    font-size: 30px;
  }
  .item-bottom__text {
    font-size: 12px;
  }
}
.services {
  padding: 100px 0 100px 0;
}
.services__content {
  margin-bottom: 60px;
}
.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -35px;
}
.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 35px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 50px;
}
.services__column:nth-child(4) {
  border: none;
  padding-bottom: 0;
  padding-top: 50px;
}
.services__column:nth-child(5) {
  border: none;
  padding-bottom: 0;
  padding-top: 50px;
}
.services__column:nth-child(6) {
  border: none;
  padding-bottom: 0;
  padding-top: 50px;
}
.item-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-services__content {
  margin-left: 24px;
}
.item-services__title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
}
.item-services__text {
  font-family: "Roboto", sans-serif;
  color: #999;
  line-height: 24px;
  font-size: 15px;
  max-width: 281px;
  margin: 0 auto;
}

@media (max-width: 1294px) {
  .services__body {
    margin: 0 0;
  }
  .services__column {
    padding-left: 0;
    padding-right: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    border-bottom: none;
    padding-bottom: 50px;
  }
  .services__column:nth-child(4) {
    border: none;
    padding-bottom: 0;
    padding-top: 0px;
  }
  .services__column:nth-child(5) {
    border: none;
    padding-bottom: 0;
    padding-top: 0px;
  }
  .services__column:nth-child(6) {
    border: none;
    padding-bottom: 0;
    padding-top: 0px;
  }
}
@media (max-width: 816px) {
  .services__body {
    margin: 0 0;
  }
  .services__column {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 610px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .services__column:nth-child(4) {
    border: none;
    padding-bottom: 50px;
    padding-top: 0px;
  }
  .services__column:nth-child(5) {
    border: none;
    padding-bottom: 50px;
    padding-top: 0px;
  }
  .services__column:nth-child(6) {
    border: none;
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
.design {
  padding-top: 110px;
  background: url("../img/forest.jpg") no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.design__content {
  margin-bottom: 45px;
}
.design__devices {
  display: block;
  position: relative;
}
.design__iphone {
  position: absolute;
  bottom: -90px;
  right: -150px;
}

@media (max-width: 580px) {
  .design__ipad {
    height: 505px;
    width: 400px;
  }
}
@media (max-width: 490px) {
  .design__ipad {
    height: 400px;
    width: 300px;
  }
}
@media (max-width: 786px) {
  .design__devices {
    text-align: center;
  }
  .design__iphone {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 20px;
  }
}
.do {
  padding: 110px 0;
}
.do__content {
  margin-bottom: 90px;
}
.do__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}
.do__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 10px;
}
.do__column img {
  max-width: 100%;
}
.do__item {
  margin-top: 10px;
}
.do__item:first-child {
  margin-top: 0;
}
.do__titleblock {
  border: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 15px 12px 15px;
  position: relative;
  cursor: pointer;
}
.do__titleblock:before {
  content: "";
  position: absolute;
  top: 22px;
  right: 30px;
  width: 3px;
  height: 12px;
  background-color: #ccc;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.do__titleblock:after {
  content: "";
  position: absolute;
  top: 22px;
  right: 23px;
  width: 3px;
  height: 12px;
  background-color: #ccc;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.do__title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-top: 6px;
  padding-left: 20px;
}
.do__text {
  display: none;
  font-style: italic;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #999;
  line-height: 24px;
  border: 1px solid #e5e5e5;
  padding: 20px 45px 20px 20px;
  position: relative;
}
.do__text:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 24px;
  height: 140px;
  width: 5px;
  background-color: #f5f5f5;
}
.do__text:before {
  content: "";
  position: absolute;
  top: 20px;
  right: 24px;
  width: 5px;
  height: 90px;
  background-color: #95e1d3;
  z-index: 3;
}

.do__titleblock.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.do__titleblock.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 816px) {
  .do__content {
    margin-bottom: 60px;
  }
  .do__titleblock {
    padding: 14px 45px 12px 15px;
  }
  .do__title {
    font-size: 12px;
    padding-left: 11px;
  }
  .do__text {
    font-size: 12px;
  }
}
@media (max-width: 787px) {
  .do__body {
    display: block;
    text-align: center;
  }
  .do__column:last-child {
    margin-top: 30px;
  }
}
.slide {
  background-color: #f8f8f8;
  padding: 70px 0;
}
.slide__body {
  overflow: hidden;
  position: relative;
}
.slide__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -30px;
}
.slide__column {
  padding: 0 30px;
}
.slide__text {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300px;
  font-size: 24px;
  color: #999;
  max-width: 770px;
}
.slide__author {
  margin-top: 15px;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  padding-left: 43px;
}
.slide__author:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  width: 60px;
  height: 2px;
  background-color: #f38181;
}

.slide__body .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide__body .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 12px;
  height: 22px;
}

.slide__body .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/slider/left.png") 100% no-repeat;
}

.slide__body .slick-arrow.slick-next {
  right: 0;
  background: url("../img/slider/right.png") 100% no-repeat;
}

@media (max-width: 816px) {
  .slide__item {
    padding: 0 35px;
  }
}
@media (max-width: 610px) {
  .slide__text {
    font-size: 15px;
  }
  .slide__author {
    font-size: 18px;
  }
  .slide__img img {
    width: 100px;
    height: 100px;
  }
}
.team {
  padding-top: 100px;
}
.team__content {
  margin-bottom: 90px;
}

.team-top__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
}
.team-top__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 33.333%;
          flex: 0 33.333%;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 30px;
}
.item-team__up {
  position: relative;
  height: 100%;
  overflow: hidden;
  padding: 0 0 131% 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-team__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item-team__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}
.item-team__icons {
  position: absolute;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-team__icons:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(236, 208, 133);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(18%, rgb(236, 208, 133)), color-stop(42%, rgb(239, 174, 133)), color-stop(78%, rgb(232, 138, 126)));
  background: -o-linear-gradient(bottom, rgb(236, 208, 133) 18%, rgb(239, 174, 133) 42%, rgb(232, 138, 126) 78%);
  background: linear-gradient(0deg, rgb(236, 208, 133) 18%, rgb(239, 174, 133) 42%, rgb(232, 138, 126) 78%);
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-team__icon {
  z-index: 5;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-team__icon_1 img {
  background-color: #f38181;
  padding: 14px 22px 14px 22px;
}
.item-team__icon_2 {
  margin-left: -5px;
}
.item-team__icon_2 img {
  background-color: #fce38a;
  padding: 16px 13px 16px 15px;
  border-right: 1px solid #f9bd87;
}
.item-team__icon_3 {
  margin-left: -4px;
}
.item-team__icon_3 img {
  background-color: #fce38a;
  padding: 13px 18px 15px 17px;
  border-left: 1px solid #f9bd87;
  border-right: 1px solid #f9bd87;
}
.item-team__icon_4 {
  margin-left: -4px;
}
.item-team__icon_4 img {
  background-color: #fce38a;
  padding: 14px 16px 14px 14px;
  border-left: 1px solid #f9bd87;
}
.item-team__down {
  text-align: center;
}
.item-team__title {
  margin-top: 30px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.item-team__career {
  margin-top: 16px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300px;
  color: #999;
  font-size: 15px;
}

:hover.item-team__icons:before {
  opacity: 0.9;
}

:hover.item-team__icons .item-team__icon {
  opacity: 1;
}

:hover.item-team__up {
  -webkit-box-shadow: 10px 10px 0px #95e1d3;
          box-shadow: 10px 10px 0px #95e1d3;
}

.team-bottom {
  background-color: #f8f8f8;
  padding: 70px 0;
}
.team-bottom__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
img.pos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left -90px top 0px;
     object-position: left -90px top 0px;
}

img.man {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left -70px bottom 0px;
     object-position: left -70px bottom 0px;
}

@media (max-width: 400px) {
  .item-team__down {
    margin-bottom: 0;
  }
}
@media (max-width: 816px) {
  .team-top__body {
    margin: 0;
    display: block;
  }
  .team-bottom__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.work__content {
  padding-top: 110px;
}
.work__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
}
.work__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 25%;
          flex: 0 25%;
}
.item-work {
  position: relative;
  height: 390px;
  overflow: hidden;
  padding: 0 0 50% 0;
}
.item-work__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item-work__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-work__info {
  text-align: center;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.item-work__info:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(236, 208, 133);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(18%, rgb(236, 208, 133)), color-stop(42%, rgb(239, 174, 133)), color-stop(78%, rgb(232, 138, 126)));
  background: -o-linear-gradient(bottom, rgb(236, 208, 133) 18%, rgb(239, 174, 133) 42%, rgb(232, 138, 126) 78%);
  background: linear-gradient(0deg, rgb(236, 208, 133) 18%, rgb(239, 174, 133) 42%, rgb(232, 138, 126) 78%);
  opacity: 0;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-work__icon {
  z-index: 5;
  display: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-work__title {
  margin-top: 20px;
  z-index: 5;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  display: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-work__text {
  margin-top: 10px;
  z-index: 5;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300px;
  color: #fff;
  display: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-work_b {
  height: 780px;
}

:hover.item-work .item-work__info:before {
  opacity: 0.8;
}

:hover.item-work .item-work__icon {
  display: block;
}

:hover.item-work .item-work__title {
  display: block;
}

:hover.item-work .item-work__text {
  display: block;
}

@media (max-width: 816px) {
  .work__projects {
    padding-top: 60px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .work__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
.sliders__body {
  padding: 100px 0 130px 0;
  position: relative;
  overflow: hidden;
}
.sliders__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 60px;
}
.item-sliders__text {
  margin-left: 30px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300px;
  font-size: 24px;
  color: #999;
  max-width: 770px;
}
.item-sliders__author {
  margin-left: 60px;
  margin-top: 15px;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  padding-left: 43px;
}
.item-sliders__author:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  width: 60px;
  height: 2px;
  background-color: #f38181;
}

.sliders .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sliders .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 12px;
  height: 22px;
  margin: -20px 0 0 0;
}

.sliders__body .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/slider/left.png") 100% no-repeat;
}

.sliders__body .slick-arrow.slick-next {
  right: 0;
  background: url("../img/slider/right.png") 100% no-repeat;
}

@media (max-width: 665px) {
  .item-sliders__text {
    font-size: 18px;
  }
  .item-sliders__img img {
    width: 150px;
    height: 150px;
  }
  .item-sliders__author {
    font-size: 20px;
  }
}
@media (max-width: 402px) {
  .item-sliders__img img {
    width: 125px;
    height: 125px;
  }
}
.people {
  height: 100%;
  background: url("../img/people/bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 110px 0 130px 0;
}
.people__content {
  margin-bottom: 87px;
}
.people__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}
.people__column {
  padding: 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-bottom: 50px;
}
.people__column:nth-child(3) {
  margin-bottom: 0;
}
.people__column:nth-child(4) {
  margin-bottom: 0;
}
.item-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item-people__img img {
  max-width: 132px;
  max-height: 132px;
  border-radius: 50%;
}
.item-people__textblock {
  margin-left: 30px;
}
.item-people__title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
.item-people__career {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300px;
  font-size: 15px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 24px;
}
.item-people__career:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30px;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  width: 60px;
  height: 3px;
  background-color: #f38181;
}
.item-people__text {
  color: #999;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  max-width: 360px;
  margin: 0 auto;
}

@media (max-width: 1070px) {
  .people__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .people__column {
    padding: 0;
  }
  .people__column:nth-child(3) {
    margin-bottom: 50px;
  }
  .people__column:nth-child(4) {
    margin-bottom: 50px;
  }
}
@media (max-width: 375px) {
  .people__column:nth-child(4) {
    margin-bottom: 0;
  }
}
.blog {
  padding: 110px 0 117px 0;
}
.blog__content {
  margin-bottom: 46px;
}
.blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}
.blog__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 10px;
}
.item-blog__top {
  position: relative;
  top: 0;
  left: 0;
  height: 240px;
}
.item-blog__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.item-blog__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-blog__data {
  background-color: #95e1d3;
  position: absolute;
  bottom: 10px;
  left: -10px;
  padding: 15px 20px;
}
.item-blog__num {
  font-size: 30px;
  font-family: "Montserrat";
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.item-blog__month {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300px;
  color: #fff;
  font-size: 15px;
}
.item-blog__bottom {
  margin-top: 20px;
}
.item-blog__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item-blog__title {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
}
.item-blog__text {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #999;
  line-height: 24px;
  padding-bottom: 23px;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.item-blog__views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -10px;
  padding-top: 20px;
}
.item-blog__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
}
.item-blog__quanity {
  margin-left: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  color: #999;
}

@media (max-width: 816px) {
  .blog__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
  .blog__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 30px;
    padding: 0;
  }
  .blog__column:last-child {
    margin-bottom: 0;
  }
  .item-blog {
    text-align: center;
  }
  .item-blog__views {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.map {
  background: url("../img/map/bg.jpg") no-repeat;
  padding: 57px 0;
}
.map__body {
  text-align: center;
}
.map__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat";
  color: #f38181;
  position: relative;
  padding-bottom: 21px;
}
.map__title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.prefooter {
  background-color: #f8f8f8;
}
.prefooter__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 100px 0;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 -10px;
}
.prefooter__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 10px;
}
.item-prefooter__logo {
  color: #ccc;
  font-weight: 700;
  font-family: "Montserrat";
  font-size: 46px;
}
.item-prefooter__text {
  margin-top: 40px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #999;
  line-height: 24px;
}
.item-prefooter__num {
  margin-top: 30px;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: bold;
  padding-bottom: 19px;
  border-bottom: 1px solid #e5e5e5;
}
.item-prefooter__follow {
  padding-top: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #999;
}
.item-prefooter__title {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.item-prefooter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.item-prefooter__column {
  margin-bottom: 40px;
}
.item-prefooter__column:last-child {
  margin-bottom: 0;
}
.item-prefooter__box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  border: 1px solid #fff;
}
.item-prefooter__img {
  position: relative;
  top: 0;
  left: 0;
  padding: 0 0 86% 0;
}
.item-prefooter__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.follow__icons {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.follow__item {
  margin-left: 15px;
}
.follow__item:first-child {
  margin-left: 0;
}
.follow__icon {
  height: 16px;
  width: 16px;
  fill: #95e1d3;
}

.form {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__input input {
  width: 100%;
  border: 1px solid #e7e7e7;
  padding: 15px 0 15px 13px;
  height: 40px;
}
.form__input input::-webkit-input-placeholder {
  color: #d9d9d9;
  font-style: italic;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.form__input input::-moz-placeholder {
  color: #d9d9d9;
  font-style: italic;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.form__input input:-ms-input-placeholder {
  color: #d9d9d9;
  font-style: italic;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.form__input input::-ms-input-placeholder {
  color: #d9d9d9;
  font-style: italic;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.form__input input::placeholder {
  color: #d9d9d9;
  font-style: italic;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.form__button button {
  cursor: pointer;
  display: block;
  height: 40px;
  width: 100%;
  padding: 0 37px;
  background-color: #95e1d3;
  color: #fff;
  text-transform: uppercase;
}

.item-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-column__textblock {
  margin-left: 20px;
}
.item-column__title {
  line-height: 18px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 12px;
}
.item-column__date {
  margin-top: 12px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #999;
}

@media (max-width: 816px) {
  .prefooter__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
  .prefooter__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .prefooter__column:nth-child(1) {
    margin-bottom: 50px;
  }
  .prefooter__column:nth-child(2) {
    margin-bottom: 50px;
  }
  .item-prefooter {
    text-align: center;
  }
  .item-prefooter__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 400px;
    margin: 0 auto;
  }
  .item-column {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .follow {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer {
  background-color: #f8f8f8;
}
.footer__body {
  text-align: center;
  padding: 24px 0;
}
.footer__copy {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
}
.footer__copy span {
  cursor: pointer;
  color: #f38181;
}

@media (max-width: 940px) {
  .story {
    padding-top: 70px;
  }
  .story-bottom {
    margin-top: 70px;
  }
  .services {
    padding: 70px 0 70px 0;
  }
  .design {
    padding-top: 70px;
  }
  .do {
    padding: 70px 0;
  }
  .team {
    padding-top: 70px;
  }
  .work__content {
    padding-top: 70px;
  }
  .sliders__body {
    padding: 70px 0 70px 0;
  }
  .people {
    padding: 70px 0 70px 0;
  }
  .blog {
    padding: 70px 0 70px 0;
  }
  .prefooter__body {
    padding: 70px 0;
  }
}
@media (max-width: 816px) {
  .story {
    padding-top: 50px;
  }
  .story-bottom {
    margin-top: 50px;
  }
  .services {
    padding: 50px 0 50px 0;
  }
  .design {
    padding-top: 50px;
  }
  .do {
    padding: 60px 0 50px 0;
  }
  .slide {
    padding: 50px 0;
  }
  .team__content {
    margin-bottom: 60px;
  }
  .team {
    padding-top: 50px;
  }
  .team-bottom {
    padding: 50px 0;
  }
  .work__content {
    padding-top: 50px;
  }
  .sliders__body {
    padding: 50px 0 50px 0;
  }
  .people {
    padding: 50px 0 50px 0;
  }
  .blog {
    padding: 50px 0 50px 0;
  }
  .map {
    padding: 50px 0;
  }
  .prefooter__body {
    padding: 50px 0;
  }
}